body {
  background-color: #212121;
  color: white;
}

.levelHeader {
  text-align: center;
  margin-top: 10px;
}

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  background-color: black;
  border-radius: 10px;
}

.target-label {
  margin-top: 5px;
}

.nav-tabs {
  border-bottom: 1px solid black !important;
  color: white !important;
}

.nav-item {
  color: white !important;
}

.nav-tabs .nav-link.active {
  background-color: #4a4a4a !important;
  border: none;
}
